{% extends 'info/base.html' %}
{% load static %}

{% block title %}Add Teacher{% endblock %}

{% block content %}

<div class="card mb-3 mx-auto" style="max-width: 640px;">
  <div class="card-header"><i class="fas fa-chalkboard-teacher"></i><b>Faculty Information</b></div>
  <div class="card-body">
    <form method="POST" action="{% url 'add_teacher' %}">
      {% csrf_token %}
      <div class="form-group">
        <label>ID</label>
        <input class="form-control" name="id" type="text" placeholder="CS04" required>
      </div>
      <div class="form-group">
        <label>Full Name</label>
        <input class="form-control" type="text" name="full_name" placeholder="Anil Kumar" required>
      </div>
      <div class="form-group">
        <label>Department</label>
        <select class="form-control" name="dept" required>
          {% for dept in all_dept %}
            <option value="{{ dept.id }}">{{ dept }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label>Sex</label>
        <select class="form-control" name="sex" required>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <div class="form-group">
        <label>Date of Birth</label>
        <input class="form-control" name="dob" type="date" required>
      </div>

      <button class="btn btn-primary" type="submit">Add Teacher</button>
      <input class="btn btn-secondary" type="reset" value="Reset">
      <a class="btn btn-outline-danger" href="{% url 'index' %}">Cancel</a>
    </form>
  </div>
</div>

{% endblock %}
