<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Logged out · College ERP</title>

      {% load static %}

    <link href="{% static '/info/bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/info/bootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/info/bootstrap/css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static '/info/css/theme.css' %}" rel="stylesheet">

  </head>

  <body>

    <div class="erp-login-page">
      <div class="erp-login-card text-center">
        <div class="erp-login-logo"><i class="fas fa-check"></i></div>
        <h4 class="mb-2">You've been logged out</h4>
        <p class="text-muted small mb-4">Thanks for using College ERP.</p>
        <a class="btn btn-primary" href="/accounts/login"><i class="fas fa-sign-in-alt"></i> Login again</a>
      </div>
    </div>

    <script src="{% static '/info/bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/info/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
